*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}
.card {
    max-width: auto;
    max-height: auto;
    background-color: #f0f0f0;
    border-radius: 8px;
                                                                                                                                                        
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    position: relative;
}
.card-container {
    text-align: center;
    padding: 10px 20px;
  }
.card image{
    width: 100%;
    height: auto;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits:false;
}
.card ::after, .card::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--angle),red,green,blue,#ff0095,#ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
.card::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
.card-content{
    text-shadow: #808080;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
@keyframes spin {
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
    
}